* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: white;
  font-size: 80px;
}

body {
  display: flex;
  row-gap: 100px;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.tip-calculator {
  width: 400px;
  padding: 16px;
  border-radius: 26px;
  background-color: white;
}

.section {
  height: 100%;
  display: flex;
  row-gap: 10px;
  padding: 26px 16px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #3f5efb;
}

.bill-container p {
  font-size: 18px;
  color: #01464b;
  margin-bottom: 4px;
}

.select-tip p {
  font-size: 18px;
  color: #01464b;
  margin-bottom: 4px;
}

.tips {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ball-input {
  padding: 8px;
  display: flex;
  column-gap: 12px;
  border-radius: 4px;
  background-color: #f3f8fa;
}

.tips button {
  width: 70px;
  height: 35px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #01464b;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

#reset-button {
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.bill-input {
  padding: 8px;
  display: flex;
  column-gap: 12px;
  border-radius: 4px;
  background-color: #f3f8fa;
}

#bill-input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.tips button:hover {
  transition: 0.5s;
  background-color: lightskyblue;
}

.header-glass {
  top: 0;
  left: 50%;
  width: 400px;
  height: 100px;
  position: absolute;
  transform: translateX(-50%) rotate(8deg);
}

.glass {
  border-radius: 12px;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

header {
  position: relative;
}

.tips button.active {
  background-color: #3f5efb;
  color: white;
}
